<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesAdmin.css" />
    <link rel="stylesheet" type="text/css" href="/css/stylesForm.css" />
    <link rel="icon" href="/img/favicon.png" />
  </head>
  <body>
    <header><%- include('../index/header.ejs') %></header>
    <nav><%- include('../index/navbar.ejs') %></nav>
    <main class="container" >
      <h1>FUNCIONES ADMINISTRADOR</h1>
      <div class="btn-container">
        <button type="button" class="btn btnmenu" onclick="formUser()">
          Usuarios
        </button>
        <button type="button" class="btn btnmenu" onclick="formProvider()">
          Proveedores
        </button>
        <button type="button" class="btn btnmenu" onclick="formPqrsAdmin()">
          Pqrs
        </button>
        <button type="button" class="btn btnmenu" onclick="formCartelera()">
          Cartelera
        </button>
        <button type="button" class="btn btnmenu" onclick="formTarea()">
          Calendario
        </button>
        <button type="button" class="btn btnmenu" onclick="formSanctions()">
          Sanciones
        </button>
        <!-- <button type="button" class="btn btnmenu" onclick="formRepositorio()">
          Documentos
        </button> -->
        <button
          type="button"
          class="btn btnmenu"
          onclick="formEncuestasPreguntas()"
        >
          encuestas
        </button>
        <button type="button" class="btn btnmenu" onclick="formListOrRegist()">
          zonas comunes
        </button>
      </div>
      <div class="search-container">
        <input type="text" id="searchInput" onkeyup="doSearch()" placeholder="Buscar...">
      </div>
      <div id="container-table" class=" "></div>
      <br>
      <br>
      <br>
    </main>
    <footer><%- include('../index/footer.ejs') %></footer>
    <script src="js/swalDos.js"></script>
    <script src="/js/admin/formUser.js"></script>
    <script src="/js/admin/formProveedor.js"></script>
    <script src="/js/admin/formPqrsAdmin.js"></script>
    <script src="/js/admin/formCartel.js"></script>
    <script src="js/admin/formTarea.js"></script>
    <script src="/js/admin/formSanciones.js"></script>
    <script src="/js/admin/formReposit.js"></script>
    <script src="/js/admin/formEncuesPreg.js"></script>
    <script src="js/admin/formCommonArea.js"></script>
  </body>
  <script>
    window.onload = function(){
      document.getElementById('searchInput').style.display = 'none';
}
  </script>
</html>
