<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Residente</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesResiden.css" />
    <link rel="stylesheet" type="text/css" href="/css/stylesForm.css" />
    <link rel="icon" href="/img/favicon.png" />
  </head> 
  <body>
    <header><%- include('../index/header.ejs') %></header>
    <nav><%- include('../index/navbar.ejs') %></nav>
    <main>
      <h1>FUNCIONES DE RESIDENTE</h1>
      <div class="container-residen">
        <button type="button" class="btn btnmenu" onclick="formPQRS()">
          PQRS
        </button>
        <button type="button" class="btn btnmenu" onclick="formListOrRegist()">
          Vehiculos
        </button>
        <button
          type="button"
          class="btn btnmenu"
          onclick="formRespuestasEncuestas()"
        >
          Encuestas
        </button>
        <button type="button" class="btn btnmenu" onclick="formMascotas()">
          Mascotas
        </button>
        <button
          type="button"
          class="btn btnmenu"
          onclick="formReservasZonasComunes()"
        >
          Zonas Comunes
        </button>
      </div>
    </main>
    <footer><%- include('../index/footer.ejs') %></footer>
  </body>
  <script src="/js/swalDos.js"></script>
  <script src="js/resident/formPqrsReside.js"></script>
  <script src="/js/resident/formVehiculos.js"></script>
  <script src="/js/resident/formRespEncue.js"></script>
  <script src="/js/resident/formMascotas.js"></script>
  <script src="/js/resident/formZonComun.js"></script>
</html>
