<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesAdmin.css" />
    <link rel="stylesheet" type="text/css" href="/css/stylesForm.css" />
    <link rel="icon" href="/img/favicon.png">
  </head>
  <body>
    <header><%- include('header.ejs') %></header>
    <nav><%- include('navbar.ejs') %></nav>
    <main class="container" style="background-color: #f0f0f0">
      <h2>FUNCIONES ADMINISTRADOR</h2>
      <div class="btn-container">
        <button type="button" class="btn btnmenu" onclick="formProveedor()">
          PROVEDORES
        </button>
        <button type="button" class="btn btnmenu" onclick="formPQRS()">
          PQRS
        </button>
        <button type="button" class="btn btnmenu" onclick="formCartelera()">
          CARTELERA
        </button>
        <button type="button" class="btn btnmenu" onclick="formTarea()">
          Calendario
        </button>
        <button type="button" class="btn btnmenu" onclick="formSanciones()">
          Gesti贸n de Sanciones
        </button>
        <button type="button" class="btn btnmenu" onclick="formRepositorio()">
          Gesti贸n de Documentos
        </button>
        <button type="button" class="btn btnmenu" onclick="formZonasComunes()">
          Gesti贸n de zonas comunes
        </button>
        <button
          type="button"
          class="btn btnmenu"
          onclick="formEncuestasPreguntas()"
        >
          Gesti贸n de encuestas
        </button>
      </div>
    </main>
    <footer><%- include('footer.ejs') %></footer>
    <script src="js/swalDos.js"></script>
    <script src="/js/formpqrs.js"></script>
    <script src="/js/formProveedor.js"></script>
  </body>
</html>
