<link rel="stylesheet" type="text/css" href="/css/stylesFooter.css" />
<footer class="footer">
  <div class="container-footer">
    <div class="left-footer-column">
      <!-- Nuevo contenedor para el primer div -->
      <!-- <div class="footer-column"> -->
        <span>Dirección: Bogotá, Chapinero</span><br />
        <span>Email: sgascae@gmail.com</span><br />
        <span>Teléfono: +57 3223274305</span>
      <!-- </div> -->
    </div>
    <div class="footer-column">
      <span
        >Todos los derechos reservados<br />
        &copy; SICOR 2024 | TWOSOFTWARE</span
      >
    </div>
    <div class="footer-column">
      <div class="social-links">
        <a
          aria-label="Chat on WhatsApp"
          href="https://wa.link/htok3x"
          target="_blank"
          ><img
            alt="Chat on WhatsApp"
            src="https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-whatsapp-phone-icon-png-image_6315989.png"
            class="social-icon"
        /></a>
        <a href="https://www.instagram.com/sadro_espana/" target="_blank"
          ><img
            src="https://toppng.com/uploads/preview/instagram-logo-1155105798346ilx9kcc6.png"
            alt="Instagram"
            class="social-icon"
        /></a>
      </div>
    </div>
  </div>
</footer>
