<link rel="stylesheet" type="text/css" href="/css/stylesHeader.css">
<header class="header">
    <div class="header-container">
        <div class="logo-container">
            <img src="img/SICOR.png" alt="Logo-Sicor" class="logo" id="logo">
        </div>
        <h1 class="title" id="pageTitle">Sistema de Información para Conjuntos Residenciales</h1>
    </div>
</header>

