<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="js/script_logon.js"></script>
  <link rel="stylesheet" href="/css/stylesLogin.css">
  <title>Formulario de Inicio de Sesión</title>
</head>

  <div class="container-login">
    <div id="h2">
      <h2>LOGIN</h2>
    </div>
    <form id="form_logon" class="form" method="post">
      <label for="username">Nombre de usuario:</label>
      <input type="text" id="username" name="username" required>
      <br>
      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" required>
      <br>
      <button onclick="enviarDatos(event)">Iniciar sesión</button>
    </form>
    <br>
    <!-- Botón para abrir el modal de registro (oculto visualmente) -->
    <button id="registroButton" style="display: none;" onclick="abrirModal()">Registrarse</button>
    <!-- Enlace para abrir el modal de registro -->
    <a href="#" onclick="abrirModalDesdeEnlace()">Registrarse</a>
  </div>
    <!-- Modal para el registro la contraseña debe ir de primero y si ya esta se trtae los datos-->
  <div class="container-modal">
  <div id="modal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="cerrarModal()">&times;</span>
      <h2>Registro Residente</h2>
      <div class="form-group">
        <label for="name">Nombre:</label>
        <input type="text" id="namer" name="name" required>
      </div>
      <div class="form-group">
        <label for="lastname">Apellido:</label>
        <input type="text" id="lastname" name="lastname" required>
      </div>
      <div class="form-group">
        <label for="email">Correo electronico:</label>
        <input type="email" id="email" name="email"  required>
      </div>
      <div class="form-group">
        <label for="mobile">Numero celular:</label>
        <input type="text" id="mobile" name="mobile" required>
      </div>
      <div class="form-group">
        <label for="cedula">Cedula:</label>
        <input type="text" id="cedula" name="cedula" required>
      </div>
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" id="passwordr" name="password" required>
      </div>
      <div class="form-group">
        <label for="profile">Perfil:</label>
        <select id="profile" name="profile" required>
          <option value="">Seleccionar perfil</option>
          <option value="admin">Administrador</option>
          <option value="residente">Residente</option>
          <option value="empleado">Empleado</option>
        </select>
      </div>
      <div class="form-group">
        <label for="torre">Torres:</label>
        <select id="torre" name="torre" required>
          <option value="">Seleccionar torre</option>
          <option value="torre_1">Torre 1</option>
          <option value="torre_2">Torre 2</option>
          <option value="torre_3">Torre 3</option>
          <option value="torre_4">Torre 4</option>
          <option value="torre_5">Torre 5</option>
          <option value="torre_6">Torre 6</option>
        </select>
      </div>
      <div class="form-group">
        <label for="piso">Piso:</label>
        <select id="piso" name="piso" required>
          <option value="">Seleccionar piso</option>
          <option value="piso_1">Piso 1</option>
          <option value="piso_2">Piso 2</option>
          <option value="piso_3">Piso 3</option>
          <option value="piso_4">Piso 4</option>
          <option value="piso_5">Piso 5</option>
          <option value="piso_6">Piso 6</option>
          <option value="piso_7">Piso 7</option>
          <option value="piso_8">Piso 8</option>
          <option value="piso_9">Piso 9</option>
          <option value="piso_10">Piso 10</option>
          <option value="piso_11">Piso 11</option>
          <option value="piso_12">Piso 12</option>
          <option value="piso_13">Piso 13</option>
          <option value="piso_14">Piso 14</option>
          <option value="piso_15">Piso 15</option>
          <option value="piso_16">Piso 16</option>
        </select>
      </div>
      <div class="form-group">
        <label for="apt">Apartamento:</label>
        <select id="apt" name="apt" required>
          <option value="">Seleccionar apartamento</option>
          <option value="Apt_1">Apt 1</option>
          <option value="Apt_2">Apt 2</option>
          <option value="Apt_3">Apt 3</option>
          <option value="Apt_4">Apt 4</option>
          <option value="Apt_5">Apt 5</option>
          <option value="Apt_6">Apt 6</option>
          <option value="Apt_7">Apt 7</option>
          <option value="Apt_8">Apt 8</option>
        </select>
      </div>
      <div id="mensajeRegistro"></div>
      <button type="button" onclick="enviarRegistro()">Registrar</button>
      </div>
    </div>
  </div>
  <!-- Tu script principal -->
  <script src="/js/modal_registro.js"></script>
  </body>
</html>
