<link rel="stylesheet" type="text/css" href="/css/stylesMain.css">
<section class="introduction-section">
    <div class="content">
        <div class="text">
            <p>SICOR es una aplicación web diseñado con conformidad a la ley 675 del 2001, destinada a revolucionar la administración de conjuntos residenciales de la ciudad de Ibagué-Tolima. Esta plataforma permite la gestión eficiente de la información de propietarios, llevando registros electrónicos a una base de datos accesible desde cualquier dispositivo con conexión a internet. Asegurando un mayor control sobre transacciones administrativas, facturación, recibos de pago, estados de cuenta, paz y salvos, informes, y la generación instantánea de reportes.</p>
        </div>
        <div class="image">
            <img src="img/SICOR.png" alt="Logo-Sicor">
        </div>
    </div>
</section>

