<link rel="stylesheet" type="text/css" href="/css/stylesNavbar.css" />
<div class="nav-container">
  <div class="nav-logo">
    <a href="/">SICOR</a>
  </div>
  <div class="nav-links">
    <button type="button" class="btnNavBar" onclick="formCuentaDemo()">
        Empieza Gratis
      </button>
    <button type="button" class="btnNavBar" onclick="formContactenos()">
      Contactenos
    </button>
    <button type="button" class="btnNavBar" onclick="formRegist()">
      Registrate
    </button>
    <a href="/Login" class="login-link">Ingresar</a>
  </div>
</div>
<script src="/js/formDemo.js"></script>
<script src="/js/formContac.js"></script>
<script src="/js/formRegistResiden.js"></script>
