<link rel="stylesheet" type="text/css" href="/css/stylesNavbar.css">
<div class="nav-container">
    <div class="nav-logo">
        <h1 >SICOR</h1>
    </div>
    <div class="nav-links">
        <a href="/productos">Contáctenos</a>
        <a href="/Login" class="login-link">Ingresar</a>
        <a href="/carrito-de-compras">Demo</a>
    </div>
</div>
