<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>PQRS</title>
        <!-- Enlaces a archivos CSS -->
        <link rel="stylesheet" href="/public/css/stylesAdmin.css" />
    </head>
    <body>
        <h1>Formulario de PQRS</h1>
        <form id="formPQRS" action="/formPQRS" method="POST">
            <label for="tipo">Tipo:</label>
            <select name="tipo" id="tipo" required>
                <option value="Peticion">Petición</option>
                <option value="Queja">Queja</option>
                <option value="Reclamo">Reclamo</option>
                <option value="Sugerencia">Sugerencia</option>
            </select>
            <br /><br />
            <label for="asunto">Asunto:</label>
            <input type="text" id="asunto" name="asunto" required />
            <br /><br />
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" rows="4"cols="50"required ></textarea>
            <br /><br />
            <label for="imagen">Imagen:</label>
            <input type="file" id="imagen" name="imagen" />
            <br /><br />
            <label for="respuesta">Respuesta:</label>
            <textarea id="respuesta" name="respuesta" rows="4" cols="50"></textarea>
            <br /><br />
            <label for="fechaCreacion">Fecha de Creación:</label>
            <input type="date" id="fechaCreacion" name="fechaCreacion" required />
            <br /><br />
            <label for="estado">Estado:</label>
            <select name="estado" id="estado" required>
                <option value="Pendiente">Pendiente</option>
                <option value="En Proceso">En Proceso</option>
                <option value="Resuelto">Resuelto</option>
            </select>
            <br /><br />
            <label for="usuarioId">Usuario ID:</label>
            <input type="text" id="usuarioId" name="usuarioId" required />
            <br /><br />
            <input type="submit" value="Enviar PQRS" />
        </form>
        <script src="/public/controllers/controlerPqrs.js"></script>
    </body>
</html>
