<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Residente</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesResiden.css" />
    <link rel="icon" href="/img/favicon.png" />
  </head>
  <body>
    <header><%- include('header.ejs') %></header>
    <nav><%- include('navbar.ejs') %></nav>
    <main>
      <h1>PANEL RESIDENTE</h1>
      <button type="button" class="btn btnmenu" onclick="formMascotas()">
        Mascotas
      </button>
      <button
        type="button"
        class="btn btnmenu"
        onclick="formReservasZonasComunes()"
      >
        Zonas Comunes
      </button>
      <button type="button" class="btn btnmenu" onclick="formVehiculos()">
        Vehiculos
      </button>
      <button
        type="button"
        class="btn btnmenu"
        onclick="formRespuestasEncuestas()"
      >
        Encuestas
      </button>
    </main>
    <footer><%- include('footer.ejs') %></footer>
  </body>
  <script src="/js/swalDos.js"></script>
  <script src="/js/formMascotas.js"></script>
  <script src="/js/formZonComun.js"></script>
  <script src="/js/formRespEncue.js"></script>
  <script src="/js/formVehiculos.js"></script>
</html>
