<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Residente</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesResiden.css" />
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <header><%- include('header.ejs') %></header>

    <nav><%- include('navbar.ejs') %></nav>

    <main>
        <h1>PANEL RESIDENTE</h1>
      <button type="button" class="btn btnmenu" onclick="formMascotas()">Mascotas</button>
      <button type="button" class="btn btnmenu" onclick="formReservasZonasComunes()">Zonas Comunes</button>
      <button type="button" class="btn btnmenu" onclick="formVehiculos()">Vehiculos</button>
      <button type="button" class="btn btnmenu" onclick="formRespuestasEncuestas()">Encuestas</button>
    </main>
    
    <footer><%- include('footer.ejs') %></footer>

    
  </body>
  <script>
    let formMascotas = () => {
      Swal.fire({
        html:
          '<br><br><center><form id="regMascota" name="regMascota" class="formSwal" onsubmit="sendText(event)">' +
          '<h2 class=""><b class="titulo">Formulario de Mascotas</b></h2><br>' +
          '<label class="label"><b>Nombre de la Mascota</b></label><br>' +
          '<input type="text" id="nombreMascota" name="nombreMascota" class="input" placeholder="Nombre de la Mascota" autocomplete="off"><br>' +
          '<label class="label"><b>Tipo de Mascota</b></label><br>' +
          '<input type="text" id="tipoMascota" name="tipoMascota" class="input" placeholder="Tipo de Mascota" autocomplete="off"><br>' +
          '<label class="label"><b>Unidad Residencial ID</b></label><br>' +
          '<input type="text" id="unidadResidencialID" name="unidadResidencialID" class="input" placeholder="Unidad Residencial ID" autocomplete="off"><br><br>' +
          '<input type="button" id="guardar" name="guardar" class="btn" onclick="guardarMascota()" value="Guardar">&nbsp;&nbsp;&nbsp;&nbsp;' +
          '<input type="button" id="cerrar" name="cerrar" class="btn" onclick="cerrarSwal()" value="Cerrar"><br><br>' +
          '<h3 id="info" class="titazul">.</h3>' +
          "</form></center><br><br>",
        width: "100%",
        background: "rgba(0,0,0,0.0)",
        backdrop: true,
        allowOutsideClick: false,
        showConfirmButton: false,
      });
    };

    function cerrarSwal() {
      swal.close();
    }

    let formReservasZonasComunes = () => {
  Swal.fire({
    html:
      '<br><br><center><form id="regReserva" name="regReserva" class="formSwal" onsubmit="sendText(event)">' +
      '<h2 class=""><b class="titulo">Formulario de Reservas de Zonas Comunes</b></h2><br>' +
      '<label class="label"><b>Zona Común ID</b></label><br>' +
      '<input type="text" id="zonaComunID" name="zonaComunID" class="input" placeholder="Zona Común ID" autocomplete="off"><br>' +
      '<label class="label"><b>Fecha de Inicio</b></label><br>' +
      '<input type="datetime-local" id="fechaInicio" name="fechaInicio" class="input" placeholder="Fecha de Inicio" autocomplete="off"><br>' +
      '<label class="label"><b>Fecha de Fin</b></label><br>' +
      '<input type="datetime-local" id="fechaFin" name="fechaFin" class="input" placeholder="Fecha de Fin" autocomplete="off"><br>' +
      '<label class="label"><b>Motivo</b></label><br>' +
      '<input type="text" id="motivo" name="motivo" class="input" placeholder="Motivo" autocomplete="off"><br>' +
      '<label class="label"><b>Estado</b></label><br>' +
      '<select id="estado" name="estado" class="input" title="Estado"><option></option><option>Pendiente</option><option>Aprobada</option><option>Cancelada</option></select><br>' +
      '<label class="label"><b>Foto Estado Recepción</b></label><br>' +
      '<input type="text" id="fotoEstadoRecepcion" name="fotoEstadoRecepcion" class="input" placeholder="Foto Estado Recepción" autocomplete="off"><br>' +
      '<label class="label"><b>Foto Estado Entrega</b></label><br>' +
      '<input type="text" id="fotoEstadoEntrega" name="fotoEstadoEntrega" class="input" placeholder="Foto Estado Entrega" autocomplete="off"><br>' +
      '<label class="label"><b>Usuario ID</b></label><br>' +
      '<input type="text" id="usuarioID" name="usuarioID" class="input" placeholder="Usuario ID" autocomplete="off"><br><br>' +
      '<input type="button" id="guardar" name="guardar" class="btn" onclick="guardarReserva()" value="Guardar">&nbsp;&nbsp;&nbsp;&nbsp;' +
      '<input type="button" id="cerrar" name="cerrar" class="btn" onclick="cerrarSwal()" value="Cerrar"><br><br>' +
      '<h3 id="info" class="titazul">.</h3>' +
      "</form></center><br><br>",
    width: "100%",
    background: "rgba(0,0,0,0.0)",
    backdrop: true,
    allowOutsideClick: false,
    showConfirmButton: false,
  });
};

function cerrarSwal() {
  swal.close();
}

let formVehiculos = () => {
  Swal.fire({
    html:
      '<br><br><center><form id="regVehiculo" name="regVehiculo" class="formSwal" onsubmit="sendText(event)">' +
      '<h2 class=""><b class="titulo">Formulario de Vehículos</b></h2><br>' +
      '<label class="label"><b>Propietario ID</b></label><br>' +
      '<input type="text" id="propietarioID" name="propietarioID" class="input" placeholder="Propietario ID" autocomplete="off"><br>' +
      '<label class="label"><b>Tipo de Vehículo</b></label><br>' +
      '<input type="text" id="tipoVehiculo" name="tipoVehiculo" class="input" placeholder="Tipo de Vehículo" autocomplete="off"><br>' +
      '<label class="label"><b>Marca</b></label><br>' +
      '<input type="text" id="marca" name="marca" class="input" placeholder="Marca" autocomplete="off"><br>' +
      '<label class="label"><b>Modelo</b></label><br>' +
      '<input type="text" id="modelo" name="modelo" class="input" placeholder="Modelo" autocomplete="off"><br>' +
      '<label class="label"><b>Placa</b></label><br>' +
      '<input type="text" id="placa" name="placa" class="input" placeholder="Placa" autocomplete="off"><br>' +
      '<label class="label"><b>Unidad Residencial ID</b></label><br>' +
      '<input type="text" id="unidadResidencialID" name="unidadResidencialID" class="input" placeholder="Unidad Residencial ID" autocomplete="off"><br><br>' +
      '<input type="button" id="guardar" name="guardar" class="btn" onclick="guardarVehiculo()" value="Guardar">&nbsp;&nbsp;&nbsp;&nbsp;' +
      '<input type="button" id="cerrar" name="cerrar" class="btn" onclick="cerrarSwal()" value="Cerrar"><br><br>' +
      '<h3 id="info" class="titazul">.</h3>' +
      "</form></center><br><br>",
    width: "100%",
    background: "rgba(0,0,0,0.0)",
    backdrop: true,
    allowOutsideClick: false,
    showConfirmButton: false,
  });
};

function cerrarSwal() {
  swal.close();
}

let formRespuestasEncuestas = () => {
  Swal.fire({
    html:
      '<br><br><center><form id="regRespuesta" name="regRespuesta" class="formSwal" onsubmit="sendText(event)">' +
      '<h2 class=""><b class="titulo">Formulario de Respuestas a Encuestas</b></h2><br>' +
      '<label class="label"><b>Pregunta ID</b></label><br>' +
      '<input type="text" id="preguntaID" name="preguntaID" class="input" placeholder="Pregunta ID" autocomplete="off"><br>' +
      '<label class="label"><b>Texto de Respuesta</b></label><br>' +
      '<input type="text" id="textoRespuesta" name="textoRespuesta" class="input" placeholder="Texto de Respuesta" autocomplete="off"><br>' +
      '<label class="label"><b>Usuario ID</b></label><br>' +
      '<input type="text" id="usuarioID" name="usuarioID" class="input" placeholder="Usuario ID" autocomplete="off"><br><br>' +
      '<input type="button" id="guardar" name="guardar" class="btn" onclick="guardarRespuestaEncuesta()" value="Guardar">&nbsp;&nbsp;&nbsp;&nbsp;' +
      '<input type="button" id="cerrar" name="cerrar" class="btn" onclick="cerrarSwal()" value="Cerrar"><br><br>' +
      '<h3 id="info" class="titazul">.</h3>' +
      "</form></center><br><br>",
    width: "100%",
    background: "rgba(0,0,0,0.0)",
    backdrop: true,
    allowOutsideClick: false,
    showConfirmButton: false,
  });
};

function cerrarSwal() {
  swal.close();
}

  </script>
</html>
