/*Estiliza formulario ventana modal*/
.formSwal {
  width: 100%;
  padding: 10px 10px 10px 10px;/* Relleno del formulario */
  background-color: #f0f0f0;
  margin-top: 20px;/* Margen superior del formulario */
  border-radius: 9px;
  max-width: 500px;
}

.question-container {
  position: relative;
  display: flex; 
  justify-content: flex-end;
  padding-right: 55px;
  padding-top: 18px;
}

.cerrarX-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.cerrarX {
  position: absolute;
  width: 40px; /* Ancho de la "X" */
  height: 40px; /* Alto de la "X" */
  line-height: 40px; /* Centra verticalmente la "X" */
  text-align: center; /* Centra horizontalmente la "X" */
  border-radius: 50%; /* Hace que el contenido sea un círculo */
  background-color: #003366; /* Color de fondo del círculo */
  color: #fff; /* Color del texto de la "X" */
  cursor: pointer;
}

.cerrarX:hover {
  background: #f58642;
  color: #f0f0f0;
}

/* Estilos para los campos de entrada */
.input {
  color: #000; /* Color del texto */
  font-family: principal; /* Fuente del texto */
  line-height: 22px; /* Altura de línea */
  outline: none; /* Quita el contorno alrededor del campo */
  border: 1px solid #020202; /* Borde sólido de 1 píxel */
  padding-bottom: 0px; /* Ajuste del relleno inferior */
  font-size: 18px; /* Tamaño de fuente */
  font-weight: bold; /* Peso de la fuente */
  margin-bottom: 8px; /* Margen inferior */
  background-color: #f0f0f0; /* Color de fondo */
  padding: 3px 3px 3px 3px; /* Ajuste del relleno */
  width: 85%; /* Ancho del campo */
  height: 27px; /* Altura del campo */
  border-radius: 5px; /* Borde redondeado */
}

.inputext {
  width: 85%;
  height: 150px;
  resize: none;
}

/* Estilos para botones */
.btn {
  border: 1px solid #113; /* Borde sólido de color #113 */
  background: #f0f0f0; /* Color de fondo blanco */
  color: #113; /* Color del texto */
  font-size: 23px; /* Tamaño de fuente */
  text-transform: uppercase; /* Transforma el texto a mayúsculas */
  letter-spacing: 1px; /* Espaciado entre caracteres */
  padding: 5px 5px 5px 5px; /* Ajuste del relleno */
  border-radius: 7px; /* Borde redondeado */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  font-weight: 600; /* Grosor de la fuente */
}


.btn:hover {
  background: #f58642;
  color: #f0f0f0;
}

/*Boton formulario flotante*/
.btnMedio {
  width: 30%;
}

.btnRegis {
  width: 40%;
}

/*Cuando aplica?*/
.inputMax {
  height: 40px;
}