/*Estiliza formulario ventana modal*/
.formSwal {
  width: 100%;
  padding: 10px 10px 10px 10px;/* Relleno del formulario */
  background-color: #fff;
  margin-top: 20px;/* Margen superior del formulario */
  border-radius: 9px;
  max-width: 500px;
}

/*class="titulo" El titulo del formulario no tiene diseño*/
/*class="label El <label><b>Tipo</b><label> no tiene diseño*/

/* Estilos para los campos de entrada */
.input {
  color: #000; /* Color del texto */
  font-family: principal; /* Fuente del texto */
  line-height: 22px; /* Altura de línea */
  outline: none; /* Quita el contorno alrededor del campo */
  border: 1px solid #020202; /* Borde sólido de 1 píxel */
  padding-bottom: 0px; /* Ajuste del relleno inferior */
  font-size: 18px; /* Tamaño de fuente */
  font-weight: bold; /* Peso de la fuente */
  margin-bottom: 8px; /* Margen inferior */
  background-color: #fff; /* Color de fondo */
  padding: 3px 3px 3px 3px; /* Ajuste del relleno */
  width: 85%; /* Ancho del campo */
  height: 27px; /* Altura del campo */
  border-radius: 5px; /* Borde redondeado */
}


/*inputMax pendiente de organizar*/
/*<textarea  class="input "*/
/*<input type="date"*/

/* Estilos para botones */
.btn {
  border: 1px solid #113; /* Borde sólido de color #113 */
  margin-left: 0; /* Elimina el margen izquierdo */
  outline: none; /* Quita el contorno alrededor del botón al enfocarlo */
  background: #fff; /* Color de fondo blanco */
  color: #113; /* Color del texto */
  font-size: 15px; /* Tamaño de fuente */
  text-transform: uppercase; /* Transforma el texto a mayúsculas */
  letter-spacing: 1px; /* Espaciado entre caracteres */
  padding: 5px 5px 5px 5px; /* Ajuste del relleno */
  border-radius: 5px; /* Borde redondeado */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  font-weight: 600; /* Grosor de la fuente */
  /* width: 40%; Ancho del botón */
}


.btn:hover {
  background: #f58642;
  color: #fff;
}

/*Boton formulario flotante*/
.btnMedio {
  width: 45%;
}

/*Cuando aplica?*/
.inputMax {
  height: 40px;
}