 /* Estilos para la sección de introducción */
 .introduction-section {
    background-color: #f9f9f9; /* Color de fondo */
    padding: 40px; /* Espaciado interno */
}

/*Contenedor div*/
.introduction-section .content {
    display: flex;
    flex-direction: row; /* Alinea los elementos en fila */
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    align-items: center; /* Centra verticalmente los elementos */
}

/*elemento de texto dentro de la sección de introducción*/
.introduction-section .text {
    flex: 1; /* El texto ocupará todo el espacio restante */
    padding-right: 50px; /* Espaciado a la derecha para separar del logo */
}

/*Parrafo*/
.introduction-section .text p {
    font-size: 30px; /*Paragraph font size*/
}

/*Imagen*/
.introduction-section .image img {
    width: 350px; /* Establece el ancho deseado */
    height: auto; /* Altura automática para mantener la proporción */
}


