/*Define la apariencia del encabezado*/
.header {
    background-color: #003366; /* Color de fondo del encabezado */
    color: white; /* Color de texto del encabezado */
    padding: 5px 5px; /* Ajusta el relleno superior e inferior y los lados */
    margin-bottom: 20px; /*Margen inferior para separar el encabezado de otros elementos*/
}

/*Crea un diseño flexible y centrado vertical y horizontalmente */
.header-container {
    display: flex; /* Utiliza flexbox para alinear los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: space-between; /* Alinea los elementos horizontalmente */
    max-width: 100%; /* Establece un ancho máximo para el contenido */
    margin: 0 auto; /* Centra el contenido horizontalmente */
}

/*Estilos al contenedor del logo*/
.logo-container {
    margin-right: 40px; /* Añade un margen entre el logo y el título */
    border-radius: 10px;/*Agrega bordes redondeados al contenedor del logo*/
    overflow: hidden; /*Asegura que la imagen del logo no sobresalga de los bordes redondeados*/

}

/*Controla el tamaño del logo*/
.logo {
    max-width: 115px; /* Establece un ancho máximo para el logo */
    height: auto; /* Permite que la altura se ajuste automáticamente */
}
/*Da estilos al titulo*/
.title {
    margin: 0; /* Elimina el margen predeterminado del título */
    flex: 1; /* El título ocupará el espacio restante */
    text-align: center; /* Centra el texto del título */
}