/*Pie de pagina*/
.footer {
    position: fixed;/*Fija la posición del pie de página*/
    bottom: 0;/* Lo posiciona al fondo de la ventana del navegador */
    left: 0; /* Alinea el pie de página a la izquierda */
    width: 100%; /* Ocupa todo el ancho disponible */
    background-color: #003366;
    color: #0e0d0d;
    padding: 20px 0; /* Ajuste del relleno */
}

/*Div padre*/
.container-footer {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos uniformemente */
    align-items: center;/*Centra verticalmente los elementos*/
    flex-wrap: wrap;/* Permite que los elementos se envuelvan en líneas si no caben en una sola línea */
}

/*Div direction*/
.left-footer-column {
    flex: 1; /* Ocupa el espacio restante dentro del contenedor */
    text-align: left; /* Alinea el contenido a la izquierda */
    font-size: 20px;
    margin-left: 20px;
    color: #fff;
    margin-bottom: 5px;
}

/*div columna*/
.footer-column {
    flex: 1; /* Ocupa el espacio restante dentro del contenedor */
    margin-right: 20px; /* Añade un margen a la derecha para separar los elementos */
    text-align: center; /* Centra el contenido horizontalmente */
}


/*Elemntos span*/
.footer-column span {
    font-size: 20px;/*Ajuste el tamaño del texto*/
    color: #fff; /*Cambia el color del texto a blanco*/
    margin-bottom: 5px;/*Agrega espacio entre cada linea*/
}

.footer-column:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}

/*Img de link*/
.social-icon {
    width: 30px;
    height: 30px;
    border-radius: 7px;
    margin-right: 10px; /* Agrega un margen a la derecha para separar las imágenes */
}

/*Recarga las img de link a la izq*/
.social-links {
    display: flex;
    justify-content: flex-end; /* Alinea los enlaces a la derecha */
    align-items: center; /* Centra verticalmente los enlaces */
}
