/*Contenedor main centra el contenido verticalmente*/
.container {
  display: flex;
  flex-direction: column; /* Apila los elementos en una columna*/
  align-items: center;/* Centra horizontalmente los elementos*/
  justify-content: center;/*Centra verticalmente los elementos*/
  height: 60vh; /* Altura del contenedor al 60% del alto de la ventana */
  max-height: 100vh;
  overflow-y: auto; /*añade scroll vertical si el contenido excede la altura maxima*/
  background-color: #f0f0f0;

}

/*Configura el espacio de los btn menu*/
.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px; /*Espacio entre los botones*/
  background-color: #008080;
  border-radius: 10px;
  margin-top: 30px; /* Margen superior entre los botones y el contenedor */
  margin-bottom: 40px; /* Margen inferior entre los botones y el contenedor */
  padding: 30px;
  max-width: 45%; /* Ancho máximo del contenedor de botones */
}

.btnmenu {
  width: 35%;
  margin: 5px; /* Margen entre los botones */
}

/* Estilos para la barra de búsqueda */
.search-container {
  margin-bottom: 20px;
  /* display: none; */
}

.search-container input[type=text] {
  padding: 10px;
  margin-top: 10px;
  font-size: 17px;
  border: none;
}

.search-container input[type=text]:focus {
  outline: 3px solid #ddd;
}


/* Estilos para la tabla */
.divTable{
  overflow-x:scroll;
  width: 94%;
  max-width: 1200px;   
}


table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd; /* Borde para la tabla */
}

/* Estilos para las celdas de encabezado */
th {
  background-color: #4CAF50;
  color: white; /* Color del texto del encabezado */
  text-align: center; /* Centrar el texto del encabezado */
  padding: 8px;
  border: 1px solid #ddd; /* Borde para las celdas de encabezado */
}

/* Estilos para las celdas de datos */
td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  border: 1px solid #ddd; /* Borde para las celdas de datos */
}

/* Estilos para las filas impares */
tr:nth-child(odd) {
  background-color: #f9f9f9;
}

/* Estilos para el contenedor de la tabla */
#container-table {
  margin-top: 20px;
}


@media only screen and (max-width: 1000px) {
  .btn {
    width: 80%;
  }

  .btnmenu {
    width: 100%; /*ancho completo para los botones en pantalla pequeñas */
  }
}