<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SICOR</title>
    <!-- <link rel="stylesheet" type="text/css" href="/css/stylesIndex.css" /> -->
    <link rel="stylesheet" type="text/css" href="/css/stylesAdmin.css" />
    <link rel="stylesheet" type="text/css" href="/css/stylesForm.css" />
    <link rel="icon" href="/img/favicon.png" />
  </head>
  <body>
    <header><%- include('header.ejs') %></header>
    <nav><%- include('navbar.ejs') %></nav>
    <main><%- include('main.ejs') %></main>
    <footer><%- include('footer.ejs') %></footer>
  </body>
  <script src="js/swalDos.js"></script>
  <script src="js/variousFunction.js"></script>
</html>
