<link rel="stylesheet" type="text/css" href="/css/stylesNavbar.css" />
<div class="nav-container">
  <div class="nav-logo">
    <a href="/">SICOR</a>
  </div>
  <div class="nav-links">
    <button type="button" class="btnNavBar" onclick="formCuentaDemo()">
        Empieza Gratis
      </button>
    <button type="button" class="btnNavBar" onclick="formContactenos()">
      Contactenos
    </button>
    <button type="button" class="btnNavBar" onclick="formRegistResident()">
      Registrate
    </button>
    <button type="button" class="btnNavBar" onclick="formLogin()">
      Ingresar
    </button>
    <!-- <a href="/Login" class="login-link">Login</a> -->
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/ventas/formDemo.js"></script>
<script src="/js/formLogin.js"></script>
<script src="/js/ventas/formContac.js"></script>
<script src="/js/resident/formRegistResiden.js"></script>
